/*Адаптация для сайта*/

/*Экран до 1440px*/
@media screen and (max-width: 1440px) {
    body {
        font-size: 18px;
    }
    h2.heading {
        font-size: 24px;
    }
    .menu-logo-img {
        border-radius: 50px;
        width: 80px;
        height: 80px;
    }
}

/*Экран до 1180px*/
@media screen and (max-width: 1180px) {
    div.card_service {
        width: 100%;
    }
}

/*Экран до 768px*/
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
    h2.heading {
        font-size: 20px;
    }
    .menu-logo-img {
        border-radius: 50px;
        width: 60px;
        height: 60px;
    }
    img.clients {
        display: none;
    }
}

/*Экран до 550px*/
@media screen and (max-width: 550px) {
    body {
        font-size: 10px;
    }
    h2.heading {
        font-size: 14px;
    }
    .menu-logo-img {
        border-radius: 50px;
        width: 30px;
        height: 30px;
    }
}

/*Экран до 480px*/
@media screen and (max-width: 480px) {
    body {
        font-size: 10px;
    }
    h2.heading {
        font-size: 16px;
    }
    .menu-logo-img {
        border-radius: 50px;
        width: 40px;
        height: 40px;
    }
    div.card_holder {
        width: 100%;
    }
    img.clients {
        display: none;
    }
}

/*Экран до 440px*/
@media screen and (max-width: 440px) {
    h1 {
        display: none;
    }
}

/*Экран до 360px*/
@media screen and (max-width: 360px) {
    .top-menu {
        font-size: 8px;
    }
    body {
        font-size: 16px;
    }
    h2.heading {
        font-size: 18px;
    }
    .menu-logo-img {
        border-radius: 50px;
        width: 20px;
        height: 20px;
    }
    /* Спрятать изображения услуг */
    img.services {
        display: none;
    }
}
