/*Стили для предлагаемых пакетов и их описания*/

/*Блок с пакетами.*/
div.packages {
    display: grid; /*Представляетм блок в виде сетки*/
    grid-template-columns: 1fr 1fr; /*Сетка будет состоять из 2 колонок одного размера*/
    justify-content: space-between;
}

/*Стили для картинок с пакетами*/
div.packages img {
    /*Картинки будут занимать часть от колонки*/
    max-width: 95%;
    max-height: 95%;
    border-radius: 25px;

    /*Размещение изображения по центру ячейки*/
    display: flex;
    justify-self: center;
    align-self: center;
}

/*Блок с описанием пакетов*/
div.describtions {
    display: grid; /*Представляетм блок в виде сетки*/
    grid-template-columns: 1fr 1fr; /*Сетка будет состоять из 2 колонок одного размера*/
    justify-content: space-between;
}

/*Стили для подписей к пакетам*/
div.describtions p {
    /*Картинки будут занимать часть от колонки*/
    max-width: 95%;
    max-height: 95%;

    display: flex;
    justify-self: center;
    align-self: center;
}

