/*
Селекторы по эл. тегов - это плохо.
Используй селекторы по классам
*/

/*Стили для главной страницы*/

body {
    /*Шрифты по умолчанию для сайта*/
    font-size: 24px;
    font-family: 'Times New Roman', Arial;
    color:white;
    /*Фон сайта*/
    background-color: #61BCA6;
}

h2.heading {
    text-align: center;
    font-size: 36px;
}

/*Отступы для изображений*/
img {
    margin: 0px 20px 20px 20px;
}

/*Блок с пакетами.*/
div.packages {
    display: grid; /*Представляетм блок в виде сетки*/
    grid-template-columns: 1fr 1fr; /*Сетка будет состоять из 2 колонок одного размера*/
    justify-content: space-between;
}

/*Стили для картинок с пакетами*/
div.packages img {
    /*Картинки будут занимать часть от колонки*/
    max-width: 95%;
    max-height: 95%;
    border-radius: 25px;

    /*Размещение изображения по центру ячейки*/
    display: flex;
    justify-self: center;
    align-self: center;
}

/*Блок с описанием пакетов*/
div.describtions {
    display: grid; /*Представляетм блок в виде сетки*/
    grid-template-columns: 1fr 1fr; /*Сетка будет состоять из 2 колонок одного размера*/
    justify-content: space-between;
}

/*Стили для подписей к пакетам*/
div.describtions p {
    /*Картинки будут занимать часть от колонки*/
    max-width: 95%;
    max-height: 95%;

    display: flex;
    justify-self: center;
    align-self: center;
}

/*----------------------------------------------------------**/

div.intro {
    margin-top: 150px; /*Отступ, чтобы главное меню не закрывало название раздела*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* width: calc(100% - 60px); Расчёт ширины блока */
    height: 100%;
    background: url("Images/other/winter-resort.jpg") center no-repeat;
    /* -webkit-background-size: cover; */
    background-size: cover;
}


/*Для тегов p с классом text*/
p.text {
    display: flex;
    margin-right: 50px;
}

hr.line {
    height: 20px;
    background-color: rgb(63, 126, 52);
}

/*Изменения цвета для выделения*/
::selection {
    background-color:#ffee38;
    color:#191919
}

/*Снежная метель*/
.sf-snow-flake {
    position: fixed;
    top: -20px;
    z-index: 99999;
    }
    
.sf-snow-anim {
    top: 110%;
}
