/*
Селекторы по эл. тегов - это плохо.
Используй селекторы по классам
*/

/*Стили для главной страницы*/

html {
    scroll-behavior: smooth;
}

body {
    /*Шрифты по умолчанию для сайта*/
    font-size: 24px;
    font-family: 'Times New Roman', Arial;
    color:rgb(0, 0, 0);
    /*Фон сайта*/
    background-color: #61BCA6;
}

#first_el {
    margin-top: 150px; /*Отступ, чтобы главное меню не закрывало название раздела*/
}

div.big_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background: url("Images/other/winter-resort.jpg") center no-repeat; */
    border-radius: 25px;
    -webkit-background-size: cover;
    background-size: cover;
}

/*Устранение смещения при переходе к якорю*/
p.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden; /* Якорь не будет отображаться */
}

h2.heading {
    text-align: center;
    font-size: 36px;
}

/*Отступы изображений*/
img {
    margin: 0px 20px 20px 20px;
    border-radius: 15px;
}

/*Услуги*/
img.services {
    /* Для того, чтобы изображения услуг помещались в body */
    width: min(550px, calc(100vw - 250px));
}

/*Клиенты*/
img.clients {
    /* Для того, чтобы изображения услуг помещались в body */
    width: min(550px, calc(100vw - 500px));
}

/*Текст вокруг изображений*/
p.around {
    display: flex;
    margin-right: 50px;
}

/*Текст под изображениями*/
p.below {
    display: flex;
    margin: 0px 20px 20px 20px;
}

/*Изменения цвета для выделения*/
::selection {
    background-color:#ffee38;
    color:#191919
}

/*Снежная метель*/
.sf-snow-flake {
    position: fixed;
    top: -20px;
    z-index: 99999;
    }
    
.sf-snow-anim {
    top: 110%;
}
